

body {
    margin: 0;
    background-color: black;
    background-image: url("https://images.unsplash.com/photo-1547029597-87dce395d04c?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
    position: relative; 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}


#navimg {
    height: 25px;
    display: inline-block; 
    padding: 0px; 
}


ul.topnav {
    list-style-type: none;
    margin: 0;
    margin-left: 10%; 
    margin-right: 10%; 
    padding: 0;
    overflow: hidden;
    padding-bottom: 0px;
    margin-top: 5px; 
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white; 
    font-weight: bold; 
    font-family: 'Nunito', sans-serif;       

}

ul.topnav li a:hover {  
    background-color: #1e5397
}



ul.topnav li.right {
    float: right;
}

@media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}

p {
    font-size: 60px; 
}
